export CERTIFICATE_CHAIN="-----BEGIN CERTIFICATE-----
MIIFgzCCA2ugAwIBAgIUCSanYXNZkaZaWQ/lm7WenCl5ZgwwDQYJKoZIhvcNAQEL
BQAwUTELMAkGA1UEBhMCSlAxDjAMBgNVBAgMBVRva3lvMQ4wDAYDVQQHDAVUb2t5
bzEQMA4GA1UECgwHd2FkYTgxMTEQMA4GA1UECwwHd2FkYTgxMTAeFw0yMzAxMTcx
NTMyMDlaFw0yNDAxMTcxNTMyMDlaMFExCzAJBgNVBAYTAkpQMQ4wDAYDVQQIDAVU
b2t5bzEOMAwGA1UEBwwFVG9reW8xEDAOBgNVBAoMB3dhZGE4MTExEDAOBgNVBAsM
B3dhZGE4MTEwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQC1C5zrCjkb
WYj9KERBNPReXD7DiBzrApKIYyQ3ryx+XuYAXCYgK05j8E5enhpLTYnGAbp/qRNn
vOuRVPbInlqMZRYR4PEGF2ihjVo8TW4mzQCSTQdI6Oi1aQwv69wxUexx/LtFr50F
u2px2wP/9nxiYg3945LZh/RuwwkwhLxkVMlJrp1tna0qco6rp7vGmbWps17TBDjN
YgEwFpFH/5mI6G+PzOVt9lp7poRPXCo5F0/OPqvSRs85Lipz7mA07hs119TDIsfW
n4xQywLxkOm8D0HE/AWVGrDBS3D1Lbl6d4Gie5+SfkrRRuJSSR8nRrCP5sLs0JY7
RLSPA3SqYicHFt8ojfBXAX0oci46HQVcqIg4CYr+FFcdofAc4vJ+P4VAbcwsBLVv
tAJ7Jar6GPCaadPDqiL15tRHqq1gfo+ZibvdZEVUtZ3y7slH9PHAqjZ524tYJfp+
jXcDiIsP7N4ubbyPgMb+uOkp1ZON2jD0KJBu+QCXVh1D7RVTFYYZWjnf4064eIwR
ujOIb86XMw08VN+M3kjiz51GgxGEdV5G+oc6k+mTn8UPRjmAUDRl7xla3wBatZiy
gEcik49KRsrjzA1YTc9nStWWkBZwFjcAH1vBKPSRpaYFrvwyN+0P6jacg6XeDryU
eXNkar8mBXnBGenJ+Zi53rdLGIcGtgNF5wIDAQABo1MwUTAdBgNVHQ4EFgQU03pw
LnAxT8d54kwixVAOAjAEhn8wHwYDVR0jBBgwFoAU03pwLnAxT8d54kwixVAOAjAE
hn8wDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEAIcslzHEXwI7C
9srs7oUr5046TX7qzX6cF2mPD/Sps4caEjyWXBYy/OR0HKrNVjCk/aY6+0CZC0wL
rXGEVBOQCq6ep9vkLGnyAQMwLvqoyqzNO6PRyuhPgOUAIeVTyLxKW5eKze8dyjLy
Oy6VbepB928UP9aAh9I2dZWtWubX3vlXv37Jz9ePHrVFRpG/hpC6hMuzXaRlqfTl
ER4h/o+Bwts2S+35Eoi833DzCqxpZLXWrQ+TPc13Fd/I8O4yIKRhnO9Z7Wuoqxg7
GPXQyGChrGsYIFVWvRqmJT5167hBqXaXrtLL+fvnpePYGIi21nDd5dve9GB7A0kd
W11/2g84E5W2cX6OCJ745cVO09UhHJqpG+kE5PsOQq5Z/HxKvqqMBNI+lVDFHSog
MvPvqSfaUJJi+kC70TEL2AIaaiR/zX+16aSLHbd4HMyQ35VEf2Xvzs8TMubsPYPR
oXiYPX4SXwfm7cn+neNC7AqnfKeyoeDFBNcGmGrKBXMGOCvz2XD5Y5IJL7Tx7diS
v2QI3eOvjhfyZNzvOfd6aHEZx03oqXxYgbqRK5M6i/1aSRx+PpipCaTV2/TNNG4B
G5b5BZ0vItQptDCcTfQHPjueDOblSo+ZpVzap1D473Bj/a7ljbNt313ZfI2PPHCw
AiZyluWF6YuO+Tp5s3CcvsqRBz55iuw=
-----END CERTIFICATE-----"
export PRIVATE_ENCRYPTED="-----BEGIN PRIVATE KEY-----
MIIJQQIBADANBgkqhkiG9w0BAQEFAASCCSswggknAgEAAoICAQC1C5zrCjkbWYj9
KERBNPReXD7DiBzrApKIYyQ3ryx+XuYAXCYgK05j8E5enhpLTYnGAbp/qRNnvOuR
VPbInlqMZRYR4PEGF2ihjVo8TW4mzQCSTQdI6Oi1aQwv69wxUexx/LtFr50Fu2px
2wP/9nxiYg3945LZh/RuwwkwhLxkVMlJrp1tna0qco6rp7vGmbWps17TBDjNYgEw
FpFH/5mI6G+PzOVt9lp7poRPXCo5F0/OPqvSRs85Lipz7mA07hs119TDIsfWn4xQ
ywLxkOm8D0HE/AWVGrDBS3D1Lbl6d4Gie5+SfkrRRuJSSR8nRrCP5sLs0JY7RLSP
A3SqYicHFt8ojfBXAX0oci46HQVcqIg4CYr+FFcdofAc4vJ+P4VAbcwsBLVvtAJ7
Jar6GPCaadPDqiL15tRHqq1gfo+ZibvdZEVUtZ3y7slH9PHAqjZ524tYJfp+jXcD
iIsP7N4ubbyPgMb+uOkp1ZON2jD0KJBu+QCXVh1D7RVTFYYZWjnf4064eIwRujOI
b86XMw08VN+M3kjiz51GgxGEdV5G+oc6k+mTn8UPRjmAUDRl7xla3wBatZiygEci
k49KRsrjzA1YTc9nStWWkBZwFjcAH1vBKPSRpaYFrvwyN+0P6jacg6XeDryUeXNk
ar8mBXnBGenJ+Zi53rdLGIcGtgNF5wIDAQABAoICAAFMYgW1fw9ZJwhZv5OQI6iB
lNmmIj71N8POojXcBb+qQpACGSvl45wH3ygCjkG3/qLy5DmCJud5jV7vcw2hRRj4
qJ3cNR5MEK4H63u/OmkA0145OzIkqXaTmEjHsj6QTdfLbjRjvAaMf4jtfyvYwq+Z
8Gu/tA/nT7Nzpp84dHlruj3TCMH+fX1ucON+QnR8Kbdb1/Q/dYDTkRqdLtGLXbiD
ojkvyP1u5Ns6KHzBNnROXH4oKOdLJrVMRXWrYfk/M+bA83+qwjAh2MnDivPcjDCT
E2+sNwYIuPfJ6Ld5ankcXkuiA1Tznum9TmY0rAqGEUIW75LvNAScy4azCaUnKwx4
3vzAxAG/oVcGGyMkRDCauf+wN3kDY8JSiLnttKAEn0hP6rAKystOcd5S0rFgxPeT
H5rmzDzSTdsMNrNubM3rY3rZV0+QjSANPw8zSyHYPShqAGOUjrdFva9pCjB2i835
VKRVG3DZ91LDBgfYZolhKki3PzKmiiA/5M48og8bKsXvjQOuW6nxsowkGeq7EGON
1ns3UjiyOLLMBIVPMnlTPLzGSMAJX0geg8jMPavnk9ihfRX0O9UPLSkzn2VoormO
mklmBnwp1b46bMXnyT1g8hP7WfVXvnB+UPnEybVTlSVtlYpLJ9nxj1qjZbCOaDMj
POhDBu1FttURkDZYeRpxAoIBAQDnSO+DlBDHgtcK6TfEyZLPrJBEgiWCro15tK3G
wsPLeSP8BlmPpm/ByAK600EdF8gJgpTbQc7+YPZmUPUBOnqsTGLNpbmujnWlz6v6
/S5qhUdB2YQUxTTMlfOwxQP7gUEXNwKLgLo0cxqse179VaWYjvcZXaJLldPBD8kP
3VJ31DrtmvM/5VlxepFbarTdUYOjCyHgsCi3cr15blVFPYiZDaNc3P++GXm0TruC
G6IaOkIZWuRlwmKNXAztNghP9rjFKzyydWxVmDQDwH3/MtVxYS109EKj52BkaGgz
X2cPeSpEU3hrok/of32bf31wAOh6u6b2wjiwYokwsjfRhAMbAoIBAQDIZFEkF11M
/lG0hsfYDY+cnVXzPqTmNT9ifIsywvFU1jk0OVEbRoDnyMIeCKJmapvb3JuGXHUM
B9LdAjI6wMecZqJylmW5Vw8OojeQGysaG5l1TuybZVAKbyQlVhz4173giQCRLTwg
JQzK+kwKZt1uazN/0dsKGylaShkIxCcrczSUO0UEt/wsIaHBkS8lMQkvFkuBtzg4
Fl9Aeie3U6jANyIYzk8vYt/B5skmFFQJS+thlFYAbh5g0ummBeeHpCGWw5rkZvMo
fZ92AMuoXfMFbHRsIspEUH2ppBVQARHRxIV1QzZqYHpD/ZkOQMXxp+/N/5ESh+hS
ORjWyw2zxqklAoIBAEwpM14Dywa36jJYnBm8OxESBSvaI5oF+uaB/dt+1VTSnmvm
d2WbbB/GykdVO5Ll+uRO0M/mus//hAQrUpLF/BFy0fJgSWXW2ZzxZvOunbNMEiv4
AcuJKRrZojaqmeYfKR0I61ie2jJdWQJFWgFYS8CSC4KZ19DGFMX1ecM0oWx+Qa1u
of1/e9Wng+gzmj1rE0sEZnKD79SA/y3WjFPRsIKeABabW8fwwagDaTGuAdJbLtsE
mEN+IE/maQdQDKqwVyXuV/14N2V0SmSV5ae8yJaeZoalzLAGiDJoQy/vkZOB1c5M
IlJnT6MDIIytDdRtKCEKXC/TwzEqMX0Mot7mdtMCggEAFDIwD1Afghv7hhMzXu32
9FTTDcHZgq4JJlbg/IuzINa6Sy4fo30WjsWn8rjyDRpffOgd8Iuu7Dh5ovaOs2cs
dvHNG3lW5TgF93aX3Pkv/eCcNbtvkzXBvFt5LB4iq12q8E8+dGM3tRGm2WoiccXu
OSuqtA4lYj5ci5H+Nej2/aUNvoa+rPwR+SymjcihFMF9aHZ5w6gAjX6LuQbWq95N
mpmz4QYh6uevH26wBRt1YL57CYmWpVJz01ROYgIkVIJRNE2gdbZ+eS03/f+UhvJ5
BKnqjd9vvTTThV5ZG4gQELEatjfA6zWv/Nw5KbuTd4hyXbONHm3+FxNUEonCZsT1
1QKCAQAUUaRngpWAef6RCbdZIt09gE/olctVuI6yDEdJXyZB74QqaLAko1wYsFKs
M2rhu9kKTXAvDqNQ418mBorhSHaJNYuI3v65icaGsyDKAr/WC9XqhyMeyqE4F7z4
6nhz/wcqorjCpuD41XGYTkvBy6nlZ72vQEa3D+sCnKqjlQexpBPKslOnHRrty/pe
260Yu9NtEP0K2FYrpCiKF+8aPV/SLfZYHuoKlOhDz7RadUi4KL/4N8QzDIOVV034
ZTu80cEerOR/f2BCz01dGEAMIWDHGkP1vtwILgZk+juVpxVX+qtoHn8yb+swHj/t
jfwrLasYOvWsbMqDNQ0s/x+ynMS0
-----END PRIVATE KEY-----"
export PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIJQQIBADANBgkqhkiG9w0BAQEFAASCCSswggknAgEAAoICAQC1C5zrCjkbWYj9
KERBNPReXD7DiBzrApKIYyQ3ryx+XuYAXCYgK05j8E5enhpLTYnGAbp/qRNnvOuR
VPbInlqMZRYR4PEGF2ihjVo8TW4mzQCSTQdI6Oi1aQwv69wxUexx/LtFr50Fu2px
2wP/9nxiYg3945LZh/RuwwkwhLxkVMlJrp1tna0qco6rp7vGmbWps17TBDjNYgEw
FpFH/5mI6G+PzOVt9lp7poRPXCo5F0/OPqvSRs85Lipz7mA07hs119TDIsfWn4xQ
ywLxkOm8D0HE/AWVGrDBS3D1Lbl6d4Gie5+SfkrRRuJSSR8nRrCP5sLs0JY7RLSP
A3SqYicHFt8ojfBXAX0oci46HQVcqIg4CYr+FFcdofAc4vJ+P4VAbcwsBLVvtAJ7
Jar6GPCaadPDqiL15tRHqq1gfo+ZibvdZEVUtZ3y7slH9PHAqjZ524tYJfp+jXcD
iIsP7N4ubbyPgMb+uOkp1ZON2jD0KJBu+QCXVh1D7RVTFYYZWjnf4064eIwRujOI
b86XMw08VN+M3kjiz51GgxGEdV5G+oc6k+mTn8UPRjmAUDRl7xla3wBatZiygEci
k49KRsrjzA1YTc9nStWWkBZwFjcAH1vBKPSRpaYFrvwyN+0P6jacg6XeDryUeXNk
ar8mBXnBGenJ+Zi53rdLGIcGtgNF5wIDAQABAoICAAFMYgW1fw9ZJwhZv5OQI6iB
lNmmIj71N8POojXcBb+qQpACGSvl45wH3ygCjkG3/qLy5DmCJud5jV7vcw2hRRj4
qJ3cNR5MEK4H63u/OmkA0145OzIkqXaTmEjHsj6QTdfLbjRjvAaMf4jtfyvYwq+Z
8Gu/tA/nT7Nzpp84dHlruj3TCMH+fX1ucON+QnR8Kbdb1/Q/dYDTkRqdLtGLXbiD
ojkvyP1u5Ns6KHzBNnROXH4oKOdLJrVMRXWrYfk/M+bA83+qwjAh2MnDivPcjDCT
E2+sNwYIuPfJ6Ld5ankcXkuiA1Tznum9TmY0rAqGEUIW75LvNAScy4azCaUnKwx4
3vzAxAG/oVcGGyMkRDCauf+wN3kDY8JSiLnttKAEn0hP6rAKystOcd5S0rFgxPeT
H5rmzDzSTdsMNrNubM3rY3rZV0+QjSANPw8zSyHYPShqAGOUjrdFva9pCjB2i835
VKRVG3DZ91LDBgfYZolhKki3PzKmiiA/5M48og8bKsXvjQOuW6nxsowkGeq7EGON
1ns3UjiyOLLMBIVPMnlTPLzGSMAJX0geg8jMPavnk9ihfRX0O9UPLSkzn2VoormO
mklmBnwp1b46bMXnyT1g8hP7WfVXvnB+UPnEybVTlSVtlYpLJ9nxj1qjZbCOaDMj
POhDBu1FttURkDZYeRpxAoIBAQDnSO+DlBDHgtcK6TfEyZLPrJBEgiWCro15tK3G
wsPLeSP8BlmPpm/ByAK600EdF8gJgpTbQc7+YPZmUPUBOnqsTGLNpbmujnWlz6v6
/S5qhUdB2YQUxTTMlfOwxQP7gUEXNwKLgLo0cxqse179VaWYjvcZXaJLldPBD8kP
3VJ31DrtmvM/5VlxepFbarTdUYOjCyHgsCi3cr15blVFPYiZDaNc3P++GXm0TruC
G6IaOkIZWuRlwmKNXAztNghP9rjFKzyydWxVmDQDwH3/MtVxYS109EKj52BkaGgz
X2cPeSpEU3hrok/of32bf31wAOh6u6b2wjiwYokwsjfRhAMbAoIBAQDIZFEkF11M
/lG0hsfYDY+cnVXzPqTmNT9ifIsywvFU1jk0OVEbRoDnyMIeCKJmapvb3JuGXHUM
B9LdAjI6wMecZqJylmW5Vw8OojeQGysaG5l1TuybZVAKbyQlVhz4173giQCRLTwg
JQzK+kwKZt1uazN/0dsKGylaShkIxCcrczSUO0UEt/wsIaHBkS8lMQkvFkuBtzg4
Fl9Aeie3U6jANyIYzk8vYt/B5skmFFQJS+thlFYAbh5g0ummBeeHpCGWw5rkZvMo
fZ92AMuoXfMFbHRsIspEUH2ppBVQARHRxIV1QzZqYHpD/ZkOQMXxp+/N/5ESh+hS
ORjWyw2zxqklAoIBAEwpM14Dywa36jJYnBm8OxESBSvaI5oF+uaB/dt+1VTSnmvm
d2WbbB/GykdVO5Ll+uRO0M/mus//hAQrUpLF/BFy0fJgSWXW2ZzxZvOunbNMEiv4
AcuJKRrZojaqmeYfKR0I61ie2jJdWQJFWgFYS8CSC4KZ19DGFMX1ecM0oWx+Qa1u
of1/e9Wng+gzmj1rE0sEZnKD79SA/y3WjFPRsIKeABabW8fwwagDaTGuAdJbLtsE
mEN+IE/maQdQDKqwVyXuV/14N2V0SmSV5ae8yJaeZoalzLAGiDJoQy/vkZOB1c5M
IlJnT6MDIIytDdRtKCEKXC/TwzEqMX0Mot7mdtMCggEAFDIwD1Afghv7hhMzXu32
9FTTDcHZgq4JJlbg/IuzINa6Sy4fo30WjsWn8rjyDRpffOgd8Iuu7Dh5ovaOs2cs
dvHNG3lW5TgF93aX3Pkv/eCcNbtvkzXBvFt5LB4iq12q8E8+dGM3tRGm2WoiccXu
OSuqtA4lYj5ci5H+Nej2/aUNvoa+rPwR+SymjcihFMF9aHZ5w6gAjX6LuQbWq95N
mpmz4QYh6uevH26wBRt1YL57CYmWpVJz01ROYgIkVIJRNE2gdbZ+eS03/f+UhvJ5
BKnqjd9vvTTThV5ZG4gQELEatjfA6zWv/Nw5KbuTd4hyXbONHm3+FxNUEonCZsT1
1QKCAQAUUaRngpWAef6RCbdZIt09gE/olctVuI6yDEdJXyZB74QqaLAko1wYsFKs
M2rhu9kKTXAvDqNQ418mBorhSHaJNYuI3v65icaGsyDKAr/WC9XqhyMeyqE4F7z4
6nhz/wcqorjCpuD41XGYTkvBy6nlZ72vQEa3D+sCnKqjlQexpBPKslOnHRrty/pe
260Yu9NtEP0K2FYrpCiKF+8aPV/SLfZYHuoKlOhDz7RadUi4KL/4N8QzDIOVV034
ZTu80cEerOR/f2BCz01dGEAMIWDHGkP1vtwILgZk+juVpxVX+qtoHn8yb+swHj/t
jfwrLasYOvWsbMqDNQ0s/x+ynMS0
-----END PRIVATE KEY-----"
export PRIVATE_KEY_PASSWORD="intellijpluginat874"
export PUBLISH_TOKEN="perm:d2FkYTgxMQ==.OTItNjA3Nw==.lpj8LZ3c8p9SujNK8OUCNDOvNrVNKm"